[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
django-cors-headers = "*"
python-decouple = "*"
psycopg2-binary = "*"
django-mdeditor = "*"
django-wysiwyg = "*"
django-ckeditor = "*"
django-summernote = "*"
pillow = "*"
whitenoise = "*"
dj-database-url = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
requests = "*"
gunicorn = "*"
django = "*"

[requires]
python_version = "3.8"
