{% extends 'base.html' %}

{% block head_title %}
this is amazing!!!!
{% endblock head_title%}


{% block content %}

<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to Talk2me</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='feed-create-form' method='POST' action='/create-feed'>
            {% csrf_token %}
            <input type='hidden' value='/' name='next' />
            <textarea class='form-control' name='content' placeholder='how are you feeling.....'></textarea>
            <button type='submit' class='btn btn-primary'>Share</button>
        </form>
    </div>
</div>

<div class='row' id='feeds'>
    Loading...
</div>

<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function handleFeedFormError(msg, display){
    var myErrorDiv = document.getElementById("feed-create-form-error")
    if (display === true) {
        // show error
        myErrorDiv.setAttribute("class", "d-block alert alert-danger")
        myErrorDiv.innerText = msg
    } else {
        // hide error
        myErrorDiv.setAttribute("class", "d-none alert alert-danger")
    }
}


function handleFormCreateFormDidSumbit(event) {
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
        if (xhr.status === 201) {
            handleFeedFormError("", false)
            const newFeedJson = xhr.response
            const newFeedElement = formatFeedElement(newFeedJson)
            const ogHtml = feedsContainerElement.innerHTML
            feedsContainerElement.innerHTML = newFeedElement + ogHtml
            myForm.reset()
        } else if (xhr.status === 400) {
            const errorJson = xhr.response
            const contentError = errorJson.content
            let contentErrorMsg;
            if (contentError) {
                contentErrorMsg = contentError[0]
                if (contentErrorMsg) {
                    handleFeedFormError(contentErrorMsg, true)
                } else {
                    alert("An error occured. Please try again.")
                }
            } else {
                alert("An error occured. Please try again.")
            }   
        } else if (xhr.status === 401) {
            alert("You must login")
            window.location.href = "/login"
        }
        else if (xhr.status === 500) {
            alert("There was a server error, please try again.")
        }
    }
    xhr.onerror = function() {
        alert("An error occurred. Please try again later.")
    }
    xhr.send(myFormData)
}
const feedCreateFormEl = document.getElementById("feed-create-form")
feedCreateFormEl.addEventListener("submit", handleFeedCreateFormDidSumbit)


const feedsContainerElement = document.getElementById("feeds") 

function loadFeeds(feedsElement) {
    const xhr = new XMLHttpRequest()
    const method = 'GET' // "POST"
    const url = "/feeds"
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response // array
        var finalFeedStr = ""
        var i;
        for (i=0;i<listedItems.length; i++) {
            var feedObj = listedItems[i]
            var currentItem = formatFeedElement(feedObj)
            finalFeedStr += currentItem
        }
        feedsElement.innerHTML = finalFeedStr
    }
    xhr.send()
}

loadFeeds(feedsContainerElement)

function handleFeedActionBtn(feed_id, currentCount, action) {
    console.log(feed_id, currentCount)
    const url = "/api/feeds/action"
    const method="POST"
    const data = JSON.stringify({
        id: feed_id,
        action: action
    })
    const xhr = new XMLHttpRequest()
    const csrftoken = getCookie('csrftoken');
    xhr.open(method, url)
    xhr.setRequestHeader("Content-Type", "application/json")
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken", csrftoken)
    xhr.onload = function() {
        // react.js this handle the state much better
        loadFeeds(feedsContainerElement)
    }
    xhr.send(data)
    return 
}

function ShareBtn(feed) {
    return "<button class='btn btn-primary btn-sm' onclick=handleFeedActionBtn(" + 
    feed.id + "," + feed.likes + ",'share')>Share</button>"
}

function UnLikeBtn(feed) {
    return "<button class='btn btn-primary btn-sm' onclick=handleFeedActionBtn(" + 
    feed.id + "," + feed.likes + ",'unlike')> unike</button>"
}


function LikeBtn(feed) {
    return "<button class='btn btn-primary btn-sm' onclick=handleFeedActionBtn(" + 
    feed.id + "," + feed.likes + ",'like')>" + feed.likes + " Likes</button>"
}

function formatFeedElement(feed) {
    var formattedFeed = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 feed' id='feed-" + feed.id 
    + "'><p>" + feed.content + 
        "</p><div class='btn-group'>" + 
            LikeBtn(feed) +
            UnLikeBtn(feed) +
            ShareBtn(feed) +
        "</div></div>"
    return formattedFeed

}


</script>
{% endblock content %}